.colorsquare {
  width: 100px;
  height: 100px;
  background: black;
  margin-top: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.colorsWrapper {
  display: flex;

}

.colorStrip {
  margin-left: 80px;

}
