.bitcoin_preset {
  width: 100px;
  height: 100px;
  background-image: url("../../imgs/bitcoin.jpg");
  background-size: cover;
}

.doge_preset {
  width: 100px;
  height: 100px;
  background-image: url("../../imgs/doge.jpg");
  background-size: cover;
}

.corner_preset {
  width: 100px;
  height: 100px;
  background-image: url("../../imgs/corner.jpg");
  background-size: cover;
}

.icecream_preset {
  width: 100px;
  height: 100px;
  background-image: url("../../imgs/icecream.jpg");
  background-size: cover;
}

.presetWrapper {
  margin-left: 80px;
}

.marg {
  margin-top: 35px;
}

.controls {
  margin-top: 30px;
  font-family: 'Alegreya Sans SC';
  font-size: 1.3rem;
  color: white;
  margin-right: 10px;
}

.playButtons {
 margin-top: 10px;
}

.marg {
  cursor: pointer;
}



@media (max-width: 900px) {

  .presetWrapper3 {
    flex-direction: column;
  }

  .colorStrip {
    flex-direction: column;
  }
  
  .presetsInnerContainer {
    justify-content: center;
  }


}

@media (max-width: 600px) {

  .marg {
    margin-right: 0px;
  }

}