.Board {
  position: relative;
  margin: 0 auto;
  /* background-color: #000; */
  /* background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px); */
}

.Cell {
  position: absolute;
}

.gridWrapper {
  display: flex;
}

@media (max-width: 550px) {

    .Board {
      width: 400px !important;
      height: 400px !important;
      box-sizing: border-box !important;
      overflow: hidden;
    }

    /* .Cell {
      width: 9px !important;
      height: 9px !important;
      
    } */

}

@media (max-width: 425px) {

  .Board {
    width: 320px !important;
    height: 320px !important;

  }

}


@media (max-width: 350px) {

  .Board {
    width: 280px !important;
    height: 300px !important;

  }

}